html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#galleryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed;
}


#mainView {
  height: 500px;
  width: 500px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  transition: all 1s;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(246, 246, 246, 0.8);
  animation: glowAnimation 4s ease-in-out infinite;
  background-attachment: fixed;
}

#mainView:hover {
  transform: scale(1.2);
  transition: all 1s;
}

#leftView {
  height: 400px;
  width: 150px;
  opacity: 0.5;
  border-radius: 5px;
  transform: skewy(5deg);
  transform-origin: top right;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(246, 246, 246, 0.8);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: glowAnimation 4s ease-in-out infinite;
}

#leftView:hover {
  opacity: 1;
  transition: all 1s;
}

#rightView {
  height: 400px;
  width: 150px;
  opacity: 0.5;
  border-radius: 5px;
  transform: skewy(-5deg);
  transform-origin: top left;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  border-radius: 10px;
  background-attachment: fixed;
  animation: glowAnimation 4s ease-in-out infinite;
}

#rightView:hover {
  opacity: 1;
  transition: all 1s;
}


#linkTag {
  cursor: pointer;
  box-sizing: border-box;
}

#description {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  margin-top: 20px;
}

#techStack {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  margin-top: 10px;
}

#details {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  margin-top: 10px;
  white-space: pre-line;
}

#description,
#techStack,
#details {
  color: white;
}

@keyframes glowAnimation {
  0% {
    box-shadow: 0 0 10px rgba(246, 246, 246, 0.8),
      0 0 20px rgba(246, 246, 246, 0.6), 0 0 30px rgba(246, 246, 246, 0.4);
  }
  50% {
    box-shadow: 0 0 20px rgba(246, 246, 246, 1),
      0 0 40px rgba(246, 246, 246, 0.8), 0 0 60px rgba(246, 246, 246, 0.6);
  }
  100% {
    box-shadow: 0 0 10px rgba(246, 246, 246, 0.8),
      0 0 20px rgba(246, 246, 246, 0.6), 0 0 30px rgba(246, 246, 246, 0.4);
  }
}

@media (max-width: 768px) {
  #leftView,
  #rightView {
    display: none;
  }

  #mainView {
    width: 80%; 
    height: 50%; 
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(246, 246, 246, 0.8);
  }
}
